@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

body {
    font-family: "PingFang SC";
}

html.apple_client-panel body {
    font-family: "PingFang SC";
    padding-bottom: 50px;
    margin-bottom: 50px;
}

h1 {
    font-size: 150%;
    font-weight: normal;
    margin-bottom: -15px;
}

html.apple_client-panel h1 {
    font-size: 120%;
    margin-top: -8px;
    margin-bottom: -12px;
}

h3 {
    font-size: 100%;
    font-weight: normal;
}

pre {
    /* overflow: auto; */
    white-space: pre-wrap;
}

html.apple_client-panel pre {
    white-space: normal;
}

span.column {
    display: block;
    border: solid 2px #c0c0c0;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.5em;
    padding: 0.5em;
}

div.y:before {
    content: "/";
}

div.y:after {
    content: "/";
}

div.y {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 100%;
    color: #333;
}

body.apple_all_view_body {
    margin-left: 0.4em;
    margin-top: 0.2em;
}

